.element__like{
  background-color: #fff;
  border: none;
  width: 22px;
  height: 19px;
  background: url('../../../images/like.svg');
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.element__like:hover {
  cursor: pointer;
  opacity: .5;
}
