.profile__hobby{
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__hobby {
    text-align: center;
    -ms-grid-column: 2;
    grid-column: 2;
    font-size: 14px;
    line-height: 17px;
  }
}
