.popup__close{
  background-image: url('../../../images/Close_Icon.png');
  background-position: center;
  background-color: transparent;
  background-size: cover;
  object-fit: cover;
  width: 32px;
  height: 32px;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0px;
		top: -36px;
  }
}
