.element__content{
  background-color: #fff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 25px 15px 31px 21px;
}
